<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wear">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" /> <!-- 允许应用访问大概的位置信息，通常基于网络提供的位置信息（如WiFi和基站） -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许应用接收来自Wearable API的复杂数据 -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" /> <!-- 允许应用使用前台服务。前台服务是一种在用户当前交互的界面之外运行的服务，可以执行一些长时间运行的操作。 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 允许应用访问网络，进行网络通信。 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许应用访问身体传感器，如心率传感器 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" /> <!-- 允许应用在设备启动完成后接收一个广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 允许应用读取设备外部存储（如SD卡）上的数据。 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许应用写入设备外部存储。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许应用访问电话状态，如：设备的电话号码，当前的网络类型，是否正在通话等。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <!-- 广播 -->
        <receiver
            android:name=".broadcast.TimeChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.KeyRecordBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver> <!-- 数据共享 -->
        <provider
            android:name=".Provider.Provider"
            android:authorities="com.example.wear.Provider"
            android:enabled="true"
            android:exported="false" /> <!-- 声明 第二页 -->
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:label="@string/title_activity_second"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" /> <!-- 声明 第三页 -->
        <activity
            android:name=".ThirdActivity"
            android:exported="true"
            android:label="@string/title_activity_third"
            android:launchMode="singleTask" /> <!-- 声明 第四页 -->
        <activity
            android:name=".FourthActivity"
            android:exported="true"
            android:icon="@drawable/notification_icon"
            android:label="@string/title_activity_fourth"
            android:launchMode="singleTask" /> <!-- 声明 第五页 -->
        <activity
            android:name=".FifthActivity"
            android:exported="true"
            android:label="@string/title_activity_fifth"
            android:launchMode="singleTask" /> <!-- 声明 第六页 -->
        <activity
            android:name=".SixthActivity"
            android:exported="true"
            android:label="@string/title_activity_sixty"
            android:launchMode="singleTask" /> <!-- 声明 第七页 -->
        <activity
            android:name=".SevenActivity"
            android:exported="true"
            android:label="@string/title_activity_seven"
            android:launchMode="singleTask" /> <!-- 声明 第八页 -->
        <activity
            android:name=".EighthActivity"
            android:exported="true"
            android:label="@string/title_activity_eighth"
            android:launchMode="singleTask" /> <!-- 声明 第九页 -->
        <activity
            android:name=".NineActivity"
            android:exported="true"
            android:label="@string/title_activity_nine" /> <!-- 声明 第十页 -->
        <activity
            android:name=".TenActivity"
            android:exported="true"
            android:label="@string/title_activity_ten" /> <!-- 声明 第十一页 -->
        <activity
            android:name=".ElevenActivity"
            android:exported="true"
            android:label="@string/title_activity_eleven"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- 声明 第十二页 -->
        <activity
            android:name=".TwelveActivity"
            android:exported="true"
            android:label="@string/title_activity_twelve" /> <!-- 声明 第十三页 -->
        <activity
            android:name=".ThirteenActivity"
            android:exported="true"
            android:label="@string/title_activity_thirteen" /> <!-- 声明 第十四页 -->
        <activity
            android:name=".FourteenActivity"
            android:exported="true"
            android:label="@string/title_activity_fourteen" /> <!-- 声明 第十五页 -->
        <activity
            android:name=".FifteenActivity"
            android:exported="true"
            android:label="@string/title_activity_fifteen" /> <!-- 声明 第十六页 -->
        <activity
            android:name=".SixteenActivity"
            android:exported="true"
            android:label="@string/title_activity_sixteen" /> <!-- 声明 第十七页 -->
        <activity
            android:name=".SeventeenActivity"
            android:exported="true"
            android:label="@string/title_activity_seventeen" /> <!-- 声明 第十八页 -->
        <activity
            android:name=".NineteenActivity"
            android:exported="true"
            android:label="@string/title_activity_nineteen" /> <!-- 声明 第十九页 -->
        <activity
            android:name=".EighteenActivity"
            android:exported="true"
            android:label="@string/title_activity_eighteen" /> <!-- 声明 第二十页 -->
        <activity
            android:name=".TwentyActivity"
            android:exported="true"
            android:label="@string/title_activity_twenty" /> <!-- 声明 第二十页一 -->
        <activity
            android:name=".TwentyOneActivity"
            android:exported="true"
            android:label="@string/title_activity_twenty_one" /> <!-- 声明 第二十页二 -->
        <activity
            android:name=".TwentyTowActivity"
            android:exported="true"
            android:label="@string/title_activity_twenty_tow" /> <!-- 声明 第二十页三 -->
        <activity
            android:name=".TwentyThirdActivity"
            android:exported="true"
            android:label="@string/title_activity_twenty_third"></activity> <!-- 声明 第二十页四 -->
        <activity
            android:name=".TwentyFourActivity"
            android:exported="true"
            android:label="@string/title_activity_twenty_four"></activity>
        <!-- 声明 第二十页五 -->
        <activity
            android:name=".TwentyFiveActivity"
            android:exported="true"
            android:label="@string/activity_twenty_five">
        </activity>
        <!-- 声明 第二十六页 -->
        <!-- 声明 第二十七页 -->
        <!-- 声明 第二十八页 -->

        <!-- 服务组件 -->
        <service
            android:name=".service.NetworkService"
            android:enabled="true"
            android:exported="true"
            android:label="NetworkService" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".MyWatchFace"
            android:exported="true"
            android:label="@string/my_analog_name"
            android:permission="android.permission.BIND_WALLPAPER">

            <!--
            By default, Watchfaces on rectangular devices will be run in a emulation mode where they
            are provided a square surface to draw the watchface (allows watchfaces built for
            circular and square devices to work well).

            For this watchface, we explicitly enable rectangular devices, so we get the complete
            surface.
            -->
            <meta-data
                android:name="android.service.wallpaper.square_mode"
                android:value="false" />
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_analog" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_analog" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>